{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Lista de Avaliações {% endblock %}

{% block conteudo %}
<h3>Lista de Avaliações Registradas
  {% if request.user.groups.all.0.name in "Cliente"%}
  <a href="{% url 'cadastrar-avaliacao' %}" class="btn btn-primary btn-sm float end">Adicione uma avaliação</a>
  {% endif %}
</h3>
<hr>
<form method="POST" action="">
  {% csrf_token %}
<div class="table-responsive">
  <table class="table table-striped" id="tabela-listar">
    <thead>
    <tr>
      {% if request.user.groups.all.0.name in "Administrador,Funcionario" %}
        <th>Usuário</th>
      {% endif %}
      <th>Jogo</th>
      <th>Nota</th>
      <th>Comentário</th>
      <th>Data</th>
      <th>Opções</th>
    </tr>
   </thead>
   <tbody> 
    {% for avaliacao in object_list %}
    <tr>
      {% if request.user.groups.all.0.name in "Administrador,Funcionario" %}
        <td>{{ avaliacao.usuario.username }}</td>
      {% endif %}
      <td>{{ avaliacao.jogo.nome }}</td>
      <td>{{ avaliacao.nota }}</td>
      <td>{{ avaliacao.comentario|default:"Sem comentário" }}</td>
      <td>{{ avaliacao.data|date:"d/m/Y H:i" }}</td>
      <td>
        <a href="{% url 'editar-avaliacao' avaliacao.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>{% if request.user.groups.all.0.name in "Administrador" %}
        <a href="{% url 'excluir-avaliacao' avaliacao.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">Nenhuma avaliação registrada</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
</form>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $('#tabela-listar').DataTable({
      responsive: true,
      bSort: true,
      aaSorting: [],
      pageLength: 10,
      language: {
        decimal: "",
        emptyTable: "Sem dados disponíveis",
        info: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        infoEmpty: "Mostrando de 0 até 0 de 0 registos",
        infoFiltered: "(filtrado de MAX registros no total)",
        infoPostFix: "",
        thousands: ",",
        lengthMenu: "Mostrar _MENU_ registros",
        loadingRecords: "A carregar dados...",
        processing: "A processar...",
        search: "Procurar:",
        zeroRecords: "Não foram encontrados resultados",
        paginate: {
          first: "Primeiro",
          last: "Último",
          next: "Seguinte",
          previous: "Anterior"
        },
        aria: {
          sortAscending: ": ordem crescente",
          sortDescending: ": ordem decrescente"
        }
      }
    });
  });
</script>
{% endblock %}