{% extends 'paginas/base.html' %}
{% load static %}

{% block titulo %} Detalhes da Compra {% endblock %}

{% block conteudo %}
<h3>Itens da Compra #{{ compra_id }}</h3>
<hr>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Jogo</th>
      <th>Quantidade</th>
    </tr>
    
    {% for item in object_list %}
    <tr>
      <td>{{ item.jogo.nome }}</td>
      <td>{{ item.quantidade }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">Nenhum item registrado nesta compra</td>
    </tr>
    {% endfor %}
  </table>
</div>

<a href="{% url 'listar-compra' %}" class="btn btn-secondary">Voltar</a>

{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $('#tabela-listar').DataTable({
      responsive: true,
      bSort: true,
      aaSorting: [],
      pageLength: 10,
      language: {
        decimal: "",
        emptyTable: "Sem dados disponíveis",
        info: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        infoEmpty: "Mostrando de 0 até 0 de 0 registos",
        infoFiltered: "(filtrado de MAX registros no total)",
        infoPostFix: "",
        thousands: ",",
        lengthMenu: "Mostrar _MENU_ registros",
        loadingRecords: "A carregar dados...",
        processing: "A processar...",
        search: "Procurar:",
        zeroRecords: "Não foram encontrados resultados",
        paginate: {
          first: "Primeiro",
          last: "Último",
          next: "Seguinte",
          previous: "Anterior"
        },
        aria: {
          sortAscending: ": ordem crescente",
          sortDescending: ": ordem decrescente"
        }
      }
    });
  });
</script>
{% endblock %}