<!--MUDAR aqui para um versão cliente e outra dos dois outros grupos, btw-->
{% extends 'paginas/base.html' %} {% load static %} 
{% block titulo %} Lista de Jogos {% endblock %} {% block conteudo %}
<h3>Lista de Jogos registrados
  <a href="{% url 'cadastrar-jogo' %}" class="btn btn-primary btn-sm float end">Adicionar Jogo</a>
</h3>
<hr>
<div class="table-responsive">
  <table class="table table=striped">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Lançamento</th>
      <th>Opções</th>
    </tr>
    {% for jogo in object_list%}
    <tr>
      <td>{{jogo.nome}}</td>
      <td>{{jogo.descricao}}</td>
      <td>{{jogo.preco}}</td>
      <td>{{jogo.estoque}}</td>
      <td>{{jogo.lancamento}}</td>
      <td>
        <a
          href="{% url 'editar-jogo' jogo.pk %}"
          class="btn btn-warning btn-sm"
          title="Editar"
          >Editar</a
        ><a
          href="{% url 'excluir-jogo' jogo.pk %}"
          class="btn btn-danger btn-sm"
          title="Excluir"
          >Excluir</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">Nenhum campo registro</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
