{% extends 'paginas/base.html' %}
{% load static %}
{% block titulo %}
Lista de Jogos
{% endblock %}
{% block conteudo %}
<h3>Lista de Jogos registrados</h3> <hr> 
<div class="table-responsive">
    <table class="table table=striped">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Lançamento</th>
            <th>Opções</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>